# Themed resources (bootanimation)
allow bootanim themeservice_app_data_file:dir search;
allow bootanim themeservice_app_data_file:file r_file_perms;
