# Allow querying of asec size on SD card
allow installd sdcard_type:dir { search };
allow installd sdcard_type:file { getattr };

# Required for installd to create theme service's /data/data directory
allow installd themeservice_app_data_file:dir { create_dir_perms relabelfrom relabelto };
allow installd themeservice_app_data_file:lnk_file { create_file_perms relabelfrom relabelto };
allow installd themeservice_app_data_file:{ file sock_file fifo_file } { getattr unlink rename relabelfrom relabelto setattr };
