allow system_server wallpaper_file:file relabelto;
allow system_server dalvikcache_data_file:file write;

# allow adb related properties to be set
allow system_server adbtcp_prop:property_service set;

allow system_server dhcp_data_file:dir r_dir_perms;
allow system_server dhcp_data_file:file r_file_perms;
