allow system_server recovery_cache_file:dir rw_dir_perms;
allow system_server recovery_cache_file:file create_file_perms;
allow system_server recovery_cache_file:fifo_file create_file_perms;

# Persistent properties
allow system_server persist_property_file:dir rw_dir_perms;
allow system_server persist_property_file:file { create_file_perms unlink };

allow system_server storage_stub_file:dir { getattr };
