# Add themeservice_app to appdomain
type themeservice_app, domain;
app_domain(themeservice_app)

# Theme manager service
allow themeservice_app activity_service:service_manager find;
allow themeservice_app cm_status_bar_service:service_manager find;
allow themeservice_app cm_themes_service:dir search;
allow themeservice_app connectivity_service:service_manager find;
allow themeservice_app display_service:service_manager find;
allow themeservice_app mount_service:service_manager find;
allow themeservice_app notification_service:service_manager find;
allow themeservice_app system_app_data_file:dir search;
allow themeservice_app user_service:service_manager find;
allow themeservice_app wallpaper_service:service_manager find;

# Allow full access to themeservice_app_data_file
allow themeservice_app themeservice_app_data_file:dir create_dir_perms;
allow themeservice_app themeservice_app_data_file:file create_file_perms;
