# ueventd needs to relabel files that pop in and out of sysfs
allow ueventd sysfs:file relabelfrom;

# ueventd will set permissions on cpufreq nodes
allow ueventd sysfs_devices_system_cpu:file setattr;

# ueventd loads wifi firmware on a ton of devices
allow ueventd wifi_data_file:dir r_dir_perms;
allow ueventd wifi_data_file:file r_file_perms;

# ueventd loads audio firmware on many devices
allow ueventd audio_data_file:dir r_dir_perms;
allow ueventd audio_data_file:file r_file_perms;
