# Allow vold to manage ASEC
allow vold sdcard_external:file create_file_perms;

# Allow vold to change context for mounted ext4 sdcard
relabelto_domain(vold)
allow vold labeledfs:filesystem { relabelfrom };
allow vold sdcard_external:filesystem { relabelfrom relabelto };
