# adb over network
on property:adb.network.port=*
    setprop service.adb.tcp.port ${adb.network.port}

on property:service.adb.tcp.port=5555
    stop adbd
    start adbd

on property:service.adb.tcp.port=-1
    stop adbd
    start adbd
