on boot
    # LiveDisplay sysfs
    chown system system /sys/devices/virtual/graphics/fb0/aco
    chmod 0660 /sys/devices/virtual/graphics/fb0/aco
    chown system system /sys/devices/virtual/graphics/fb0/cabc
    chmod 0660 /sys/devices/virtual/graphics/fb0/cabc
    chown system system /sys/devices/virtual/graphics/fb0/hbm
    chmod 0660 /sys/devices/virtual/graphics/fb0/hbm
    chown system system /sys/devices/virtual/graphics/fb0/rgb
    chmod 0660 /sys/devices/virtual/graphics/fb0/rgb
    chown system system /sys/devices/virtual/graphics/fb0/sre
    chmod 0660 /sys/devices/virtual/graphics/fb0/sre
    chown system system /sys/devices/virtual/graphics/fb0/color_enhance
    chmod 0660 /sys/devices/virtual/graphics/fb0/color_enhance
    chown system system /sys/devices/virtual/graphics/fb0/reading_mode
    chmod 0660 /sys/devices/virtual/graphics/fb0/reading_mode
