on init
    # Set up the BFQIO hierarchy
    mkdir /dev/bfqio 0755 root system
    mount cgroup none /dev/bfqio bfqio
    chown root system /dev/bfqio/tasks
    chmod 0664 /dev/bfqio/tasks
    chmod 0220 /dev/bfqio/cgroup.event_control

    # Soft realtime class for display service
    mkdir /dev/bfqio/rt-display 0755 root system
    write /dev/bfqio/rt-display/bfqio.ioprio_class 1
    chown system system /dev/bfqio/rt-display/tasks
    chmod 0664 /dev/bfqio/rt-display/tasks
    chmod 0220 /dev/bfqio/rt-display/cgroup.event_control

on boot
    restorecon --recursive /sys/block/mmcblk0/queue
    chown system system /sys/block/mmcblk0/queue/scheduler
    chmod 0664 /sys/block/mmcblk0/queue/scheduler

    restorecon --recursive /sys/block/sda/queue
    chown system system /sys/block/sda/queue/scheduler
    chmod 0664 /sys/block/sda/queue/scheduler

    restorecon --recursive /sys/block/sde/queue
    chown system system /sys/block/sde/queue/scheduler
    chmod 0664 /sys/block/sde/queue/scheduler

    restorecon --recursive /sys/block/dm-0/queue
    chown system system /sys/block/dm-0/queue/scheduler
    chmod 0664 /sys/block/dm-0/queue/scheduler

# Configure IO scheduler
on property:sys.io.scheduler=*
    write /sys/block/mmcblk0/queue/scheduler ${sys.io.scheduler}
    write /sys/block/mmcblk1/queue/scheduler ${sys.io.scheduler}
    write /sys/block/sda/queue/scheduler ${sys.io.scheduler}
    write /sys/block/sde/queue/scheduler ${sys.io.scheduler}
    write /sys/block/dm-0/queue/scheduler ${sys.io.scheduler}

on property:persist.sys.io.scheduler=*
    setprop sys.io.scheduler ${persist.sys.io.scheduler}

# Set slice_idle to 0 for CFQ
on property:sys.io.scheduler=cfq
    restorecon --recursive /sys/block/mmcblk0/queue
    restorecon --recursive /sys/block/mmcblk1/queue
    restorecon --recursive /sys/block/sda/queue
    restorecon --recursive /sys/block/sde/queue
    restorecon --recursive /sys/block/dm-0/queue

    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk1/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sde/queue/iosched/slice_idle 0
    write /sys/block/dm-0/queue/iosched/slice_idle 0

# Set slice_idle to 0 for BFQ
on property:sys.io.scheduler=bfq
    restorecon --recursive /sys/block/mmcblk0/queue
    restorecon --recursive /sys/block/mmcblk1/queue
    restorecon --recursive /sys/block/sda/queue
    restorecon --recursive /sys/block/sde/queue
    restorecon --recursive /sys/block/dm-0/queue

    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk1/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sde/queue/iosched/slice_idle 0
    write /sys/block/dm-0/queue/iosched/slice_idle 0
