<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.theme.dark"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.android.settings" android:priority="1"/>

    <application android:label="@string/settings_overlay_dark" android:hasCode="false"/>
</manifest>
