# For prefetcher to read themes
allow dumpstate dalvikcache_data_file:dir r_dir_perms;
allow dumpstate dalvikcache_data_file:file r_file_perms;
allow dumpstate resourcecache_data_file:dir r_dir_perms;
allow dumpstate resourcecache_data_file:file r_file_perms;
allow dumpstate fuse:dir r_dir_perms;
allow dumpstate fuse:file r_file_perms;
allow dumpstate theme_data_file:dir r_dir_perms;
allow dumpstate theme_data_file:file r_file_perms;
allow dumpstate media_rw_data_file:dir search;
allow dumpstate sdcardfs:file getattr;
