# Storage of default mode by native API
allow system_server display_misc_file:dir r_dir_perms;
allow system_server display_misc_file:file create_file_perms;
