<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.statix.android.overlay.nexuslauncher"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.google.android.apps.nexuslauncher" android:priority="0" android:isStatic="true" />
</manifest>
